{% extends 'base.html.twig' %}

{% block title %}Tous les programmes
{% endblock %}

{% block body %}
	<div class="ykzkxt d6i7ks">
		<div class="d-flex">
			<div class="w-100">
				<div class="d-md-flex justify-content-md-between align-items-center spacer-section-checkout">
					<div class="flex-fill mb-6 mb-md-0">
						<h1 class="pr-md-6 bkicbc">Produits</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="nt-0 mt-md-n2 mt-lg-n4">
			<nav>
				<ul class="nav nav-tabs nav-tabs-bordered">
					<li class="nav-item x0g3fk">
						<button class="nav-link active owoe4k" data-bs-toggle="tab" data-bs-target="#my-programs">Mes Programmes</button>
					</li>
					<li class="nav-item">
						<button class="nav-link owoe4k" data-bs-toggle="tab" data-bs-target="#next-programs">Les autres programmes</button>
					</li>
				</ul>
			</nav>
		</div>
		<div class="wwz44q xfue0z">
			<div class="xo2a4n">
				<div class="ixxz17">
					<div class="tab-content pt-2 mt-2">
						{% set hasAccess = is_granted('ROLE_ADMIN') or is_granted('ROLE_GUEST') or (app.user and app.user.purchases|filter(purchase => purchase.program in programs and purchase.status == constant('App\\Entity\\Purchase::STATUS_PAID'))|length > 0) %}
						<div class="tab-pane fade profile-overview active show" id="my-programs">
							{% if hasAccess %}
								{% for prg in programs %}
									{% if app.request.cookies.get('url_visited') %}
										{% set url = app.request.cookies.get('url_visited') %}
									{% else %}
										{% set url = app.request.schemeAndHttpHost ~ '/courses/formation-en-numerologie/a-propos-de-cette-formation' %}
									{% endif %}
									<article class="mb-6 d-flex align-items-center">
										{% if nbrLessonsDone == nbrCourses %}
											{% set opacity = 'opacity-2' %}
										{% else %}
											{% set opacity = '' %}
										{% endif %}
										<div class="{{ opacity }}">
											<a class="thumb thumb-lg thumb-photo thumb-link thumb-program-numerology" href="{{ relative_path(url) }}"></a>
										</div>
										<div class="ml-3">
											<header>
												<h1 class="title mb-0 qpguv1">
													<a class="text-grey-dark text-decoration-none" href="{{ relative_path(url) }}">{{ prg.name }}</a>
												</h1>
											</header>
											<div class="bulleted">
												<span class="bulleted-item w-100 mt-2">
													{% if nbrLessonsDone == nbrCourses %}
														{% set display = 'd-none' %}
														{% set completed = '' %}
													{% else %}
														{% set display = '' %}
														{% set completed = 'd-none' %}
													{% endif %}
													<div class="d-flex align-items-start flex-column {{ display }}">
														<div class="d-block w-100">
															<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{ nbrLessonsDone }}" aria-valuemin="0" aria-valuemax="{{ nbrCourses }}">
																<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: {{ (nbrLessonsDone / nbrCourses)*100 }}%"></div>
															</div>
														</div>
														<span>{{ nbrLessonsDone }}/{{ nbrCourses }}
															complété(s)</span>
													</div>
													<div class="d-flex align-items-center {{ completed }}">
														{% include "partials/buttons/_completed_svg.html.twig" %}
														<span>
															Complété
														</span>
													</div>
												</span>
											</div>
										</div>
									</article>
								{% endfor %}
							{% else %}
								<h5 class="card-sub-title">Pas de programme acheté</h5>
							{% endif %}
						</div>
						<div class="tab-pane fade profile-overview pt-3" id="next-programs">
							{% if not hasAccess %}
								{% for prg in programs %}
									<article class="mb-6 d-flex align-items-center">
										<div>
											<a class="thumb thumb-lg thumb-photo thumb-link thumb-program-numerology" href="{{ path('app_program', {'slug': prg.slug}) }}"></a>
										</div>
										<div class="ml-3">
											<header class="mb-1">
												<h1 class="title mb-0 qpguv1">
													<a class="text-grey-dark text-decoration-none" href="{{ path('app_program', {'slug': prg.slug}) }}">{{ prg.name }}</a>
												</h1>
												<ul class="nc80xb tvyx52">
													<li class="rs8f42">
														<span>{{ prg.price | amount }}</span>
													</li>
													<li class="rs8f42">
														<span>Cours</span>
													</li>
													<li class="rs8f42">
														<span>{{ nbrCourses }}
															Leçons</span>
													</li>
												</ul>
											</header>
										</div>
									</article>
								{% endfor %}
							{% else %}
								<h5 class="card-sub-title">Pas d'autres programmes à venir</h5>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include "shared/_footer_second.html.twig" %}
{% endblock %}
